.container-com {
    display: flex;
  margin-right: 5%;
}

@media (max-width: 768px) {

    .container {
        display: contents;
    }
    .cart-container {
      flex-direction: column;
    }
  
    .form-container {
      margin-top: 20px;
    }
  }