<!DOCTYPE Html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <nav>
            <a href="/" class="logo">IT Strategy</a>
            <form class="search" action="/search" method="get">
                <input type="search" id="fsearch" name="fsearch"  placeholder="Поиск" class="search-box">
                <button type="submit" class="button button-search">Искать</button>
            </form>
            <div class="line"></div>
        </nav>

        <div class="container">
            <div class="row-2cols">
                <div class="col-1">
                    <img src="{{.Image}}" class="card-img-selected"/>
                </div>
                <div class="col-2">
                    <h1 class="text card-name-selected">{{.Name}}</h1>
                    <p class="text card-description-selected">{{.Description}}</p>
                    <div class="bottom-part">
                        <p class="text card-price-selected">{{.Price}} рублей</p>
                        <button type="button" class="button button-show button-buy">Записаться</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>