<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/styles.css">
        <script src="/js/index.js"></script>
    </head>
    <body>    
        <nav>
            <a href="/" class="logo">IT Strategy</a>
            <form class="search" action="/" method="get">
                <input type="search" id="fsearch" name="fsearch"  placeholder="{{.search_text}}" class="search-box">
                <button type="submit" class="button button-search">Искать</button>
            </form>
            <div class="line"></div>
        </nav>
       
        <div class="container">
            <!-- строка с услугами -->
            <div class="row">
                <!-- колонки с услугами -->
                {{range .services}}
                <div class="col">
                    <div class="card">
                        <div class="card-upper-part">
                            <form action="/delete/{{.Id}}" method="POST">
                                <button class="delete">X</button>
                            </form>
                            <img class="card-img" src="{{.Image}}"/>
                        </div>
                        <h1 class="text card-name">{{.Name}}</h1>
                        <p class="text card-description">{{.Description}}</p>
                        <div class="card-bottom-part">
                            <p class="card-price">{{.Price}} руб.</p>
                            <a class="button button-show" href="/service/{{.Id}}">Подробнее</a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
